*{
    margin: 0%;
    padding: 0%;
}
.redColor{
    width: 25vh;
    height: 25vh;
    background-color: red;
    padding: 9vh;
}
.circle {
    background-color: white;
    width: 20vh;
    height: 10vh;
    padding: 2vh;
    display: flex;
}
.brown {
    background-color: brown;
    width: 45%;
    height: 64%;
    margin: 8%;
}